h2 Habitos
    span#spanHabitos.icon_mostrar-ocultar(onclick="mostrarOcultar('Habitos')") &#9660;
if habitos.length<=0
    p.vacio No se tiene información de los habitos del paciente
table#contHabitos.ocultar
    thead
        tr
            th Descripción
            th Desde
            th Hasta
        if habitos.length>0
            for habito in habitos
                tr
                    td= habito.descHabitos
                    td= habito.fechaDesde.toISOString().slice(0,10)
                    if(habito.fechaHasta)
                        td= habito.fechaHasta.toISOString().slice(0,10)
                    else
                        td -----
    tbody#nuevosHabitos
    tfoot
        tr 
            form#formHabitos(onsubmit="return agregarHabito()") 
                td
                    input#descHabitos(type="text", name="descHabitos", style="border:none",placeholder="Nuevo habito")
                td 
                    input#fechaDesdeHab(type="date", name="fechaDesde", value="2024-11-10")
                td 
                    input#fechaHastaHab(type="date", name="fechaHasta")
                td(style="border:none")
                    input(type="submit", value="Agregar habito")